
@{
    ViewBag.Title = "Sinemax";
}

 <div> 
     <h2>SİNEMAX</h2>
     <form action="/Home/Login" method="post">
         <input type="text" placeholder="E-posta" name="email" />
         <input type="password" placeholder="Şifre" name="password" />
         <input type="submit" value="Giriş" />
     </form>
 </div>